<form method="POST" action="/pirates">
  <p>Pirate Name: <input type="text" name = "pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name = "pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name = "pirate[height]"></p>
  <p>Ship Name 1: <input type="text" id = "ship_name_1" name = "pirate[ships][][name]"></p>
  <p>Ship Type 1: <input type="text" id = "ship_type_1" name = "pirate[ships][][type]"></p>
  <p>Ship Booty 1: <input type="text" id = "ship_booty_1" name = "pirate[ships][][booty]"></p>
  <p>Ship Name 2: <input type="text" id = "ship_name_2" name = "pirate[ships][][name]"></p>
  <p>Ship Type 2: <input type="text" id = "ship_type_2" name = "pirate[ships][][type]"></p>
  <p>Ship Booty 2: <input type="text" id = "ship_booty_2" name = "pirate[ships][][booty]"></p>
  <button type="submit" value="submit">Submit</button>
</form>
