<form action='/pirates' method='POST'>
  <label for'pirate[name]'>Pirate Name</label>'<input type='text' name='pirate[name]' />
  <label for'pirate[weight]'>Pirate Weight<input type='text' name='pirate[weight]'  />
  <label for'pirate[height]'>Pirate Height<input type='text' name='pirate[height]' />
  <label for'pirate[ships][][name]'>Ship 1 Name<input id='ship_name_1' type='text' name='pirate[ships][][name]' />
  <label for'pirate[ships][][type]'>Ship 1 Type<input id='ship_type_1' type='text' name='pirate[ships][][type]' />
  <label for'pirate[ships][][booty]'>Ship 1 Booty<input id='ship_booty_1'  type='text' name='pirate[ships][][booty]' />
  <label for'pirate[ships][][name]'>Ship 2 Name<input id='ship_name_2' type='text' name='pirate[ships][][name]' />
  <label for'pirate[ships][][type]'>Ship 2 Type<input id='ship_type_2' type='text' name='pirate[ships][][type]' />
  <label for'pirate[ships][][booty]'>Ship 2 Booty<input id='ship_booty_2' type='text' name='pirate[ships][][booty]' />
  <input id='Submit' type='submit' value='submit' />
</form>
